NODE_ENV=development
DATABASE_URL=
REDIS_URL=redis://localhost:6380
JWT_SECRET=
JWT_REFRESH_SECRET=
PORT=8000
CLIENT_URL=http://localhost:5173
GMAIL_USER=
GMAIL_PASS=
GMAIL_HOST=smtp.gmail.com
GMAIL_PORT=587
GEMINI_API_KEY=
GROQ_API_KEY=
